configs:
  secret:
    argocdServerAdminPassword: "{{ argocd_admin_password_bcrypt }}"
  cm:
    # Ingress resources never get a LoadBalancer IP with NodePort Traefik.
    # This custom health check marks all Ingress resources as Healthy immediately.
    resource.customizations.health.networking.k8s.io_Ingress: |
      hs = {}
      hs.status = "Healthy"
      return hs

server:
  ingress:
    enabled: true
    ingressClassName: traefik
    hostname: "{{ argocd_hostname }}"
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
      traefik.ingress.kubernetes.io/service.serversscheme: https
      traefik.ingress.kubernetes.io/service.serverstransport: argocd-skip-verify@kubernetescrd

dex:
  enabled: false

redis-ha:
  enabled: false

controller:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1
