apiVersion: v1
kind: Secret
metadata:
  name: gitea-repo-creds
  namespace: "{{ argocd_namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  url: "https://{{ gitea_hostname }}:{{ gitea_internal_port }}"
  type: git
  username: argocd
  password: "{{ gitea_argocd_token }}"
