ingress:
{% for rule in cloudflared_ingress_rules %}
  - hostname: {{ rule.hostname }}
    service: {{ rule.service }}
{% if rule.originServerName is defined %}
    originRequest:
      originServerName: {{ rule.originServerName }}
{% endif %}
{% endfor %}
  - service: http_status:404
